footer {
  padding: 2rem;
  background-color: rgb(191, 188, 188);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: #eee;
  font-size: 22px;
  font-weight: 300;
}